{% extends 'base.html.twig' %}

{% block title %}Mon panier • LA Garde Robe{% endblock %}

{% block hero %}{% endblock %}

{% block content %}
    <section class="cart section">

        <div class="cart__container container grid">

            <div class="cart__content">

                {% set total = null %}

                {% for product in cart %}

                    <div class="cart__img">
                        <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}">
                    </div>
                    <div class="cart__detail">
                        <h4 class="cart__detail-title">{{ product.product.name }}</h4>
                        <div class="cart__detail-quantity">
                            <a href="" class="cart__detail-quantityMinus"><i class="uil uil-minus"></i></a>
                            <span class="cart__detail-quantityNumber">{{ product.quantity }}</span>
                            <a href="" class="cart__detail-quantityPlus"><i class="uil uil-plus"></i></a>
                        </div>
                        <h5 class="cart__detail-price">{{ ((product.product.price * product.quantity) / 100) | number_format(2, ' € ', '.') }}</h5>
                        <a href="" class="cart__detail-trash"><i class="uil uil-trash-alt"></i></a>
                    </div>

                    {% set total = total + (product.product.price * product.quantity) %}

                {% endfor %}

            </div>

            <div class="cart__recap">
                <div class="cart__recap-title">
                    <h3 class="cart__recap-titleName">Récapitulatif</h3>
                </div>
                <div class="cart__recap-content">
                    <h4 class="cart__recap-cartLength">Nombre de produit(s) : {{ cart|length }}</h4>
                    <h4 class="cart__recap-priceHT">Prix Hors Taxe : </h4>
                    <h4 class="cart__recap-price">Prix du panier : {{ (total / 100) | number_format(2, ' € ', '.') }}</h4>
                    <h4 class="cart__recap-priceDelivery">Livraison : </h4>
                    <h4 class="cart__recap-priceTotal">Prix Total TTC : </h4>
                </div>
            </div>

            <div class="cart__button">
                <a href="" class="cart__button-validation">Valider mon panier</a>
                <a href="" class="cart__button-back">Retour aux produits</a>
            </div>

        </div>

    </section>
{% endblock %}
