{% extends 'base.html.twig' %}

{% block title %}Mon compte • La Garde Robe{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="account section">

        <h1 class="section__title">Mon compte</h1>

        <div class="account__container grid">

            <div class="account__data">
                <div class="account__data-info">
                    <div class="account__data-title">
                        <h2 class="account__data-titleName">Bienvenue {{ app.user.firstname }},</h2>
                        <h4 class="account__data-titleSubtitle"><i>c'est dans cet espace que vous allez pouvoir gérer toute vos informations personnelles.</i></h4>
                    </div>
                </div>

                <div class="account__data-button">
                    <div class="account__data-buttonBack">
                        <a href="{{ path('products') }}" class="account__data-buttonBackClick">Retour</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="account__option grid">

            <a href="{{ path('account_password') }}">
                <div class="account__option-card" style="background-image: url('{{ asset('assets/img/account1.jpg') }}')">
                    <div class="account__option-cardDotted">
                        <div class="option__content">
                            <h2>Modifier <i class="uil uil-key-skeleton-alt"></i></h2>
                            <h4>mon mot de passe</h4>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{ path('account_address') }}">
                <div class="account__option-card" style="background-image: url('{{ asset('assets/img/account2.jpg') }}')">
                    <div class="account__option-cardDotted">
                        <div class="option__content">
                            <h2>Gérer <i class="uil uil-mailbox"></i></h2>
                            <h4>mes adresses</h4>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="account__option-card" style="background-image: url('{{ asset('assets/img/account3.jpg') }}')">
                    <div class="account__option-cardDotted">
                        <div class="option__content">
                            <h2>Voir <i class="uil uil-shopping-bag"></i></h2>
                            <h4>mes commandes</h4>
                        </div>
                    </div>
                </div>
            </a>

        </div>

    </section>

{% endblock %}
