{% extends 'base.html.twig' %}

{% block title %}Mon mot de passe • La Garde Robe{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="account section">

        <h1 class="section__title">Modifier mon mot de passe</h1>

        <div class="account__container grid">

            <div class="account__data">
                <div class="account__data-info">
                    <div class="account__data-title">
                        <h2 class="account__data-titleName">Sécurité avant tout {{ app.user.firstname }},</h2>
                        <h4 class="account__data-titleSubtitle"><i>c'est dans cet espace que vous allez pouvoir modifier votre mot de passe.</i></h4>
                    </div>
                </div>

                <div class="account__data-button">
                    <div class="account__data-buttonBack">
                        <a href="{{ path('account') }}" class="account__data-buttonBackClick">Retour</a>
                    </div>
                </div>
            </div>

            {% if notification %}
                <div class="section__subtitle">{{ notification }}</div>
            {% endif %}

            <div class="account__data-buttonUpdate">
                {{ form_start(form) }}
                    <div class="account__password-formFirstname">
                        {{ form_row(form.firstname) }}
                    </div>
                <div class="account__password-formLastname">
                    {{ form_row(form.lastname) }}
                </div>
                <div class="account__password-formEmail">
                    {{ form_row(form.email) }}
                </div>
                <div class="account__password-formOldPwd">
                    {{ form_row(form.old_password) }}
                </div>
                <div class="account__password-formNewPwd">
                    {{ form_row(form.new_password) }}
                </div>
                <div class="account__password-formButton">
                    <button type="submit" class="account__password-formButtonClick">Mettre à jour</button>
                </div>
                {{ form_end(form) }}
            </div>

        </div>

    </section>

{% endblock %}
