{% extends 'base.html.twig' %}

{% block title %}Connexion • La Garde Robe{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="connexion section">

        <h1 class="section__title">Connexion</h1>
        <h3 class="section__subtitle">Il est temps de se connecter !</h3>

        {% if error %}
            <div class="section__subtitle">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="section__subtitle">
                Vous êtes connecté en tant que <b>{{ app.user.username }}</b>, vous pouvez cliquez <b><a href="{{ path('app_logout') }}">ici</a></b> pour vous déconnecter.
            </div>
        {% endif %}

        <div class="connexion__container grid">

            <form method="post">

                <div class="connexion__form-email">
                    <label for="inputEmail"> </label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Votre adresse email" required autofocus>
                </div>
                <div class="connexion__form-password">
                    <label for="inputPassword"> </label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Votre mot de passe" required>
                </div>

        </div>


        <div class="connexion__button">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="connexion__button-connexion button">Connexion</button>
            <a href="{{ path('register') }}" class="connexion__button-subscribe button">Inscription</a>
        </div>

        </form>
        <div class="connexion__subtitle">
            <span class="section__subtitle">Ou vous pouvez <a href="{{ path('reset_password') }}" class="connexion__reset"><b>réinitialiser</b></a> votre mot de passe si vous l'avez oublié.</span>
        </div>

    </section>


{% endblock %}
