{% extends 'base.html.twig' %}

{% block title %}Connexion • La Garde Robe{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="connexion section">

        <h1 class="section__title">Connexion</h1>
        <h3 class="section__subtitle">Il est temps de se connecter !</h3>

        {% if error %}
            <div class="section__subtitle">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="section__subtitle">
                Vous êtes connecté en tant que <b>{{ app.user.username }}</b>, vous pouvez cliquez <b><a href="{{ path('app_logout') }}">ici</a></b> pour vous déconnecter.
            </div>
        {% endif %}

        <div class="connexion__container grid">

            <form method="post">

                <label for="inputEmail"> </label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Votre adresse email" required autofocus>
                <label for="inputPassword"> </label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Votre mot de passe" required>

                <div class="connexion__button">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="connexion__button-connexion">Connexion</button>
                    <a href="{{ path('register') }}" class="connexion__button-subscribe">Inscription</a>
                </div>
            </form>

        </div>

    </section>


{% endblock %}
