{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement • La Garde Robe{% endblock %}

{% block hero %} {% endblock %}

{% block content %}

    <section class="validation section">

        <div class="validation__container container grid">

            <h1 class="section__title">Il y a eu une erreur :(</h1>

            <div class="validation__content">
                <h3 class="validation__title">Hello <b>{{ order.user.firstname }} {{ order.user.lastname }}</b>,</h3>
                <span class="validation__subtitle">
                    Il semblerait que votre paiement est échoué pour votre commande : <br>
                    n° <b>{{ order.reference }}</b> .<br>
                    Une confirmation d'erreur vient de vous être envoyée par email à l'adresse <b>{{ order.user.email }}</b> . <br><br>
                    Pour réessayer, rendez vous sur votre <a href="{{ path('order') }}"><b>confirmation de commande</b></a> .
                </span>
            </div>

        </div>

    </section>

{% endblock %}