{% extends 'base.html.twig' %}

{% block content %}

    <section class="home__section">
        {% for hero in heros%}
            <img src="/uploads/{{ hero.illustration }}" alt="{{ hero.title }}" class="home__img">

            <div class="home__container container grid">
                <div class="home__data">
                    <span class="home__data-subtitle">{{ hero.content }}</span>
                    <h1 class="home__data-title">{{ hero.title }}</h1>
                    <div class="home__button">
                        <a href="{{ hero.btnUrl }}" class="home__button-title">{{ hero.btnTitle}} <i class="uil uil-angle-double-right home__button-arrow"></i></a>
                    </div>
                </div>
            </div>
        {% endfor%}

    </section>

    <section class="category section">

        <div class="category__container container grid">

            <div class="category__card">
                <a href="{{ path('productsWomen') }}">
                    <div class="category__card-dotted">
                        <div class="category__content">
                            <h2>Côté <br />Femmes</h2>
                            <h4 class="category__content-subtitle">Le meilleur de la mode</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="category__card">
                <a href="{{ path('productsMen') }}">
                    <div class="category__card-dotted">
                        <div class="category__content">
                            <h2>Côté <br />Homme</h2>
                            <h4 class="category__content-subtitle">Le top de la tendance</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="category__card">
                <a href="{{ path('productsBaby') }}">
                    <div class="category__card-dotted">
                        <div class="category__content">
                            <h2>Côté <br />Bébé</h2>
                            <h4 class="category__content-subtitle">Ses premiers vetements</h4>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </section>

    <section class="feature section">

        <div class="feature__title">
            <h1>Nos Produits du Moment</h1>
        </div>

        <div class="feature__container container grid">

            {% for product in products %}

                <div class="product">
                    <div class="product__card">
                        <div class="product__img">
                            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}">
                        </div>

                        <div class="product__detail">
                            <div class="product__detail-center">
                                <h1>{{ product.name }}</h1>
                                <h4 class="price">{{ (product.price / 100) | number_format(2, ' € ', '.') }}</h4>
                                <ul>
                                    <li><a href="{{ path('product', { 'slug' : product.slug }) }}"><i class="uil uil-search"></i></a></li>
                                    <li><a href="{{ path('add_to_favorite', { 'id' : product.id }) }}"><i class="uil uil-heart-alt"></i></a></li>
                                    <li><a href="#"><i class="uil uil-share"></i></a></li>
                                    <li><a href="{{ path('add_to_cart', { 'id' : product.id }) }}"><i class="uil uil-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </section>

    <section class="about section">

        <div class="about__container grid">

            <div class="about__left">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2527.44200851907!2d3.156409915994799!3d50.69318167772557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c328e3dd23fd3d%3A0x33219387c1bbd279!2s20%20Rue%20du%20Luxembourg%2C%2059100%20Roubaix!5e0!3m2!1sfr!2sfr!4v1631776470634!5m2!1sfr!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="about__right">
                <div class="about__content">
                    <h2>A Propos de nous</h2>
                    <div class="about__data-content">
                        <div class="about__data-table">
                            <div class="about__data-days">
                                <div class="about__data-day">Lundi</div>
                                <div class="about__data-day">Mardi</div>
                                <div class="about__data-day">Mercredi</div>
                                <div class="about__data-day">Jeudi</div>
                                <div class="about__data-day">Vendredi</div>
                                <div class="about__data-day">Samedi</div>
                                <div class="about__data-day">Dimanche</div>
                            </div>

                            <div class="about__data-hours">
                                <div class="about__data-dayHour">Fermé</div>
                                <div class="about__data-dayHour">14H | 19h</div>
                                <div class="about__data-dayHour">10h | 19h</div>
                                <div class="about__data-dayHour">10h | 19h</div>
                                <div class="about__data-dayHour">10h | 20h</div>
                                <div class="about__data-dayHour">10h | 20h</div>
                                <div class="about__data-dayHour">Fermé</div>
                            </div>
                        </div>
                    </div>
                    <a class="about__button" href="#">Contactez nous <i class="uil uil-phone"></i></a>
                </div>
            </div>

        </div>

    </section>

    <section class="comment section">

        <div class="comment__container container grid">

            <div class="comment__card">
                <span>&ldquo;</span>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                    fugiat labore. Veritatis et omnis consequatur.
                </p>
                <div class="comment__img">
                    <img src="{{ asset('assets/img/comment1.jpg') }}" alt="" />
                </div>
                <h4>Steve Jobs</h4>
            </div>

            <div class="comment__card">
                <span>&ldquo;</span>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                    fugiat labore. Veritatis et omnis consequatur.
                </p>
                <div class="comment__img">
                    <img src="{{ asset('assets/img/comment2.jpeg') }}" alt="" />
                </div>
                <h4>Beyonce</h4>
            </div>

            <div class="comment__card">
                <span>&ldquo;</span>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                    fugiat labore. Veritatis et omnis consequatur.
                </p>
                <div class="comment__img">
                    <img src="{{ asset('assets/img/comment3.jpg') }}" alt="" />
                </div>
                <h4>Chucky</h4>
            </div>

        </div>

    </section>

{% endblock %}
