{% extends 'base.html.twig' %}

{% block content %}

    <section class="home__section">
        {% for hero in heros%}
            <img src="/uploads/{{ hero.illustration }}" alt="{{ hero.title }}" class="home__img">

            <div class="home__container container grid">
                <div class="home__data">
                    <span class="home__data-subtitle">{{ hero.content }}</span>
                    <h1 class="home__data-title">{{ hero.title }}</h1>
                    <div class="home__button">
                        <a href="{{ hero.btnUrl }}" class="home__button-title">{{ hero.btnTitle}} <i class="uil uil-angle-double-right home__button-arrow"></i></a>
                    </div>
                </div>
            </div>
        {% endfor%}
    </section>

    <section class="category section">

        <div class="category__container container grid">

            <div class="category__card">
                <a href="{{ path('productsWomen') }}">
                    <div class="category__card-dotted">
                        <div class="category__content">
                            <h2>Côté <br />Femmes</h2>
                            <h4 class="category__content-subtitle">Le meilleur de la mode</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="category__card">
                <a href="{{ path('productsMen') }}">
                    <div class="category__card-dotted">
                        <div class="category__content">
                            <h2>Côté <br />Homme</h2>
                            <h4 class="category__content-subtitle">Le top de la tendance</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="category__card">
                <a href="{{ path('productsBaby') }}">
                    <div class="category__card-dotted">
                        <div class="category__content">
                            <h2>Côté <br />Bébé</h2>
                            <h4 class="category__content-subtitle">Ses premiers vetements</h4>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </section>

    <section class="feature section">

        <div class="feature__title">
            <h1>Nos Produits du Moment</h1>
        </div>

        <div class="feature__container container grid">

            {% for product in products %}

                <div class="product">
                    <div class="product__card">
                        <div class="product__img">
                            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}">
                        </div>

                        <div class="product__detail">
                            <div class="product__detail-center">
                                <h1>{{ product.name }}</h1>
                                <h4 class="price">{{ (product.price / 100) | number_format(2, ' € ', '.') }}</h4>
                                <ul>
                                    <li><a href="{{ path('product', { 'slug' : product.slug }) }}"><i class="uil uil-search"></i></a></li>
                                    <li><a href="{{ path('add_to_favorite', { 'id' : product.id }) }}"><i class="uil uil-heart-alt"></i></a></li>
                                    <li><a href="#"><i class="uil uil-share"></i></a></li>
                                    <li><a href="{{ path('add_to_cart', { 'id' : product.id }) }}"><i class="uil uil-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </section>

    <section class="about section">

        <h1 class="about__home-title">On reste en contact ?</h1>

        <div class="about__container grid">

            <div class="about__home-left">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2527.44200851907!2d3.156409915994799!3d50.69318167772557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c328e3dd23fd3d%3A0x33219387c1bbd279!2s20%20Rue%20du%20Luxembourg%2C%2059100%20Roubaix!5e0!3m2!1sfr!2sfr!4v1631776470634!5m2!1sfr!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="about__home-right">
                <div class="about__right-content">
                    {% for information in informations %}
                    <div class="about__top">
                        <div class="about__top-left">
                            <div class="about__top-content">
                                <div class="about__social-name">
                                    <span class="about__social-nameLink"><i class="uil uil-at"></i>{{ information.nameLink }}</span>
                                </div>
                                <div class="about__social">
                                    <a href="{{ information.btnFacebook }}" target="_blank" class="about__social-icon"><i class="uil uil-facebook"></i></a>
                                    <a href="{{ information.btnInstagram }}" target="_blank" class="about__social-icon"><i class="uil uil-instagram"></i></a>
                                    <a href="{{ information.btnTwitter }}" target="_blank" class="about__social-icon"><i class="uil uil-twitter"></i></a>
                                </div>
                                <div class="about__phone">
                                    <a href="" class="about__phone-call"><i class="uil uil-phone"></i> {{ information.phone }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="about__top-right">
                            <img src="/uploads/{{ information.firstIllustration }}" alt="La Garde Robe • Social" class="about__img">
                        </div>
                    </div>
                    <div class="about__bottom">
                        <div class="about__bottom-left">
                            <img src="/uploads/{{ information.secondIllustration }}" alt="La Garde Robe • Opening" class="about__img">
                        </div>
                        <div class="about__bottom-right">
                            <div class="about__bottom-content">
                                <div class="about__openingHours">
                                    <span class="about__days">Du {{ information.firstDay }} au {{ information.lastDay }}</span>
                                    <span class="about__hours">De {{ information.openHour }}h à {{ information.closeHour }}h</span>
                                </div>
                                <div class="about__button-contact">
                                    <a href="{{ information.btnUrl }}" class="about__button-contactClick button">{{ information.btnTitle }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </section>

    <section class="comment section">

        <h1 class="section__title">C'est vous, les meilleurs !</h1>

        <div class="comment__container-home container grid">

            {% for comment in comments %}
            <div class="comment__card">
                <span><i class="uil uil-comment-heart"></i></span>
                <p>{{ comment.content }}</p>
                <h4>{{ comment.name }}</h4>
            </div>
            {% endfor %}

        </div>

    </section>

{% endblock %}
