{% extends 'base.html.twig' %}

{% block title %}Mot de Passe Oublié • La Garde Robe{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="connexion section">

        <h1 class="section__title">Réinitialiser votre mot de passe</h1>

        <div class="connexion__container grid">
            {% for message in app.flashes('notice') %}
                <h3 class="section__subtitle">{{ message }}</h3>
            {% endfor %}

            {{ form_start(form) }}
                <div class="account__password-resetPassword">
                    {{ form_row(form.new_password) }}
                </div>
                <div class="account__password-resetButton">
                    <button class="account__password-resetButtonClick button">Changer</button>
                </div>
            {{ form_end(form) }}

            <span class="section__subtitle">Ou vous pouvez vous <a href="{{ path('app_login') }}" class="connexion__reset"><b>connecter</b></a> si vous vous souvenez de votre mot de passe.</span>

        </div>

    </section>

{% endblock %}
