{% extends 'base.html.twig' %}

{% block title %}Les Produits de Bébé • La Garde Robe{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="products section" id="products">
        <div class="products__container container grid">
            <h1 class="products__title">Les Produits de bébé</h1>

            <div class="filter__container container">
                <div>
                    <div class="filter__content filter__close">
                        <div class="filter__header">
                            <i class="uil uil-search filter__icon"></i>

                            <div>
                                <h1 class="filter__title">Filter</h1>
                                <span class="filter__subtitle"><i>Pour une recherche plus précise</i></span>
                            </div>

                            <i class="uil uil-arrow-from-top filter__arrow"></i>

                        </div>

                        <div class="filter__list grid">
                            <div class="filter__data">

                                <div class="products__form-filter">
                                    {{ form_start(form) }}
                                    <div class="products__filter">
                                        <div class="products__filter-categories">
                                            {{ form_widget(form.categories) }}
                                            <h2 class="products__filter-title">Choisissez une catégorie</h2>
                                        </div>
                                    </div>
                                    <div class="products__filter-button">
                                        <button type="submit" class="products__button">Filter <i class="uil uil-search"></i></button>
                                        <a href="{{ path('productsBaby') }}" class="filter__reset-button">Réinitialiser</a>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="product__container container grid">

            {% for product in products %}

                <div class="product">
                    <div class="product__card">
                        <div class="product__img">
                            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}">
                        </div>

                        <div class="product__detail">
                            <div class="product__detail-center">
                                <h1>{{ product.name }}</h1>
                                <h4 class="price">{{ (product.price / 100) | number_format(2, ' € ', '.') }}</h4>
                                <ul>
                                    <li><a href="{{ path('product', { 'slug' : product.slug }) }}"><i class="uil uil-search"></i></a></li>
                                    <li><a href="#"><i class="uil uil-heart-alt"></i></a></li>
                                    <li><a href="#"><i class="uil uil-share"></i></a></li>
                                    <li><a href="{{ path('add_to_cart', { 'id' : product.id }) }}"><i class="uil uil-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </section>

{% endblock %}
