{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} • La Garde Robe{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="product__detail section">

        <div class="product__detail-container container grid">
            <div class="product__detail-left">
                <div class="product__detail-img">
                    <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}">
                </div>
            </div>

            <div class="product__detail-right">
                <h1 class="product__detail-title">{{ product.name }}</h1>
                <h3 class="product__detail-subtitle"><i>{{ product.subtitle }}</i></h3>
                <div class="product__detail-price">{{ (product.price / 100) | number_format(2, ' € ', '.') }}</div>
                <form class="product__detail-size">
                    <div>
                        <label>
                            <select class="product__detail-sizeSelect">
                                <option value="Select Size" selected disabled>Taille</option>
                                <option value="1">S</option>
                                <option value="2">M</option>
                                <option value="3">L</option>
                                <option value="4">XL</option>
                            </select>
                        </label>
                    </div>
                </form>

                <div class="product__detail-quantity">
                    <a href="" class="product__detail-quantityMinus"><i class="uil uil-minus"></i></a>
                    <span class="product__detail-quantityNumber">1</span>
                    <a href="" class="product__detail-quantityPlus"><i class="uil uil-plus"></i></a>
                </div>

                <div class="button">
                    <a href="{{ path('add_to_cart', { 'id' : product.id }) }}" class="product__button button__simple">Ajouter au panier</a>
                </div>

                <h3 class="product__detail-description">Description de {{ product.name }}</h3>
                <p class="product__detail-descriptionContent">{{ product.description }}</p>

            </div>
        </div>

    </section>

    <section class="comment section">

        <div class="comment__title">
            <h1>Qu'est ce que vous en dites ?</h1>
        </div>

        <div class="comment__container grid">

            <div class="comment__empty">

            </div>

            <div class="comment__show">
                    {% for comment in product.comments %}

                        {% if comment.parent == null %}

                            <div class="comment__publish">
                                <div class="comment__content">
                                    <div class="comment__content-content">
                                        <p>{{ comment.content }}</p>
                                    </div>
                                    <div class="comment__content-name">
                                        <h4><i class="uil uil-corner-down-right"></i> {{ comment.name }} • <small><a href="#comment__new" data-reply data-id="{{ comment.id }}" class="comment__button-reply"><i class="uil uil-corner-up-left-alt"></i> répondre</a></small></h4>
                                    </div>
                                </div>
                            </div>

                            {% for reply in comment.replies %}

                                <div class="comment__publish-reply">
                                    <div class="comment__content-reply">
                                        <div class="comment__content-contentReply">
                                            <p>{{ reply.content }}</p>
                                        </div>
                                        <div class="comment__content-nameReply">
                                            <h4>{{ reply.name }} <i class="uil uil-corner-down-left"></i></h4>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        {% endif %}

                    {% endfor %}
            </div>

            <div class="comment__new" id="comment__new">
                <h3>Ajouter un commentaire</h3>

                <div class="comment__form">

                    {{ form_start(formComment) }}
                        <div class="comment__form-name">
                            {{ form_row((formComment.name)) }}
                        </div>
                        <div class="comment__form-email">
                            {{ form_row((formComment.email)) }}
                        </div>
                        <div class="comment__form-content">
                            {{ form_row((formComment.content)) }}
                        </div>
                        <div class="comment__form-parent">
                            {{ form_row(formComment.parentid) }}
                        </div>
                        <div class="button">
                            <button class="comment__button button__simple">Partager</button>
                        </div>
                    {{ form_end(formComment) }}

                </div>
            </div>

        </div>

    </section>

    <section class="feature section">

        <h1 class="section__title">Les nouveautés !</h1>

        <div class="feature__container container grid">

            <div class="feature__scroll feature__squares">

                {% for product in products %}

                    <div class="feature">
                        <div class="feature__card">
                            <div class="feature__img">
                                <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}">
                            </div>

                            <div class="feature__detail">
                                <div class="feature__detail-center">
                                    <h1>{{ product.name }}</h1>
                                    <h4 class="price">{{ (product.price / 100) | number_format(2, ' € ', '.') }}</h4>
                                    <ul>
                                        <li><a href="{{ path('product', { 'slug' : product.slug }) }}" class="feature__icon-show"><i class="uil uil-search"></i></a></li>
                                        <li><a href="{{ path('add_to_favorite', { 'id' : product.id }) }}" class="feature__icon-heart"><i class="uil uil-heart-alt"></i></a></li>
                                        <li><a href="{{ path('add_to_cart', { 'id' : product.id }) }}" class="feature__icon-add"><i class="uil uil-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>

    </section>

{% endblock %}
