{% extends 'base.html.twig' %}

{% block title %}Nous contacter • La Garde Robe{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="contact section">

        <h1 class="section__title">On reste en contact !</h1>
        <h3 class="section__subtitle">C'est un plaisir d'échanger avec vous.<br>Merci de saisir les informations demandées afin de nous contacter.</h3>

        <div class="contact__container grid">

            {% if notification %}
                <div class="section__subtitle">{{ notification }}</div>
            {% endif %}

            <div class="contact__form">

                {{ form_start(form) }}
                    <div class="contact__form-firstname">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="contact__form-lastname">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="contact__form-email">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="contact__form-content">
                        {{ form_row(form.content) }}
                    </div>
                    <div class="contact__form-button">
                        <button class="contact__form-buttonClick">Envoyer</button>
                    </div>
                {{ form_end(form) }}

            </div>

        </div>

    </section>

{% endblock %}
