{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande • La Garde Robe{% endblock %}

{% block hero %} {% endblock %}

{% block content %}

    <section class="confirmation section">

        <div class="confirmation__container container grid">

            <h1 class="section__title">Merci pour votre commande :)</h1>

            <div class="confirmation__content">
                <h3 class="confirmation__title">Hello <b>{{ order.user.firstname }} {{ order.user.lastname }}</b>,</h3>
                <span class="confirmation__subtitle">
                    Nous vous remercions pour votre commande : <br>
                    n° <b>{{ order.reference }}</b> .<br>
                    Une confirmation vient de vous être envoyée par email à l'adresse <b>{{ order.user.email }}</b> . <br><br>
                    Votre commande vous sera livrée par <b>{{ order.carrierName }}</b> à l'adresse : <br>
                    <i>{{ order.delivery|raw }}</i> <br><br>
                    Pour suivre votre commande, rendez vous dans votre <a href="{{ path('account') }}"><b>compte</b></a> .
                </span>
            </div>

        </div>

    </section>
    {{ dump(order) }}
{% endblock %}
