{% extends 'base.html.twig' %}

{% block title %}Paiement de ma commande • La Garde Robe{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="order section">

        <h1 class="section__title">Mon récapitulatif</h1>
        <h3 class="section__subtitle">Vérifier vos information avant de payer votre commande sur LaGardeRobe.fr !</h3>

        <div class="order__container container grid">
            <div class="order__content-recap">
                <div class="order__left">
                    <div class="order__recap-address">
                        <h4 class="order__recap-titleContent">Mon adresse de livraison</h4>
                        <div class="order__recap-addressContent">
                            <h6 class="order__recap-addressTitle order__address-name"><i class="uil uil-mailbox"></i></h6>
                            <h6 class="order__recap-addressTitle order__address-name">{{ delivery.name }}</h6>
                            <h6 class="order__recap-addressTitle order__address-fullName">{{ delivery.firstname }} {{ delivery.lastname }}</h6>
                            <h6 class="order__recap-addressTitle order__address-address"><i>{{ delivery.address }}</i></h6>
                            <h6 class="order__recap-addressTitle order__address-post"><i>{{ delivery.postal }}, {{ delivery.city }}</i></h6>
                            <h6 class="order__recap-addressTitle order__address-phone">{{ delivery.phone }}</h6>
                        </div>
                    </div>
                    <div class="order__recap-carrier">
                        <h4 class="order__recap-titleContent">Mon transporteur</h4>
                        <div class="order__recap-carrierContent">
                            <h6 class="order__recap-carrierTitle order__carrier-name"><i class="uil uil-truck"></i></h6>
                            <h6 class="order__recap-carrierTitle order__carrier-name">{{ carrier.name }}</h6>
                            <h6 class="order__recap-carrierTitle order__carrier-description"><i>{{ carrier.description }}</i></h6>
                            <h6 class="order__recap-carrierTitle order__carrier-price">{{ (carrier.price / 100) | number_format(2, ' € ', '.') }}</h6>
                        </div>
                    </div>
                </div>
                <div class="order__right">
                    <div class="order__recap">
                        <h4 class="order__recap-title">Récapitulatif de ma commande</h4>
                        {% set total = null %}
                        {% for product in cart %}
                            <div class="order__recap-product order__recap-finalProduct">
                                    <div class="order__recap-productName order__recap-finalProductName">
                                        <h5 class="order__recap-productTitle">{{ product.product.name }}</h5>
                                        <h5 class="order__recap-productSubtitle"><i>{{ product.product.subtitle }}</i></h5>
                                    </div>
                                    <div class="order__recap-productNumber order__recap-finalProductNumber">
                                        <div class="order__recap-productQuantity">
                                            <h5 class="order__recap-productQuantityNumber"><i class="uil uil-multiply"></i> {{ product.quantity }}</h5>
                                        </div>
                                        <div class="order__recap-productPrice">
                                            <h5 class="order__recap-productPriceNumber">{{ ((product.product.price * product.quantity) / 100) | number_format(2, ' € ', '.') }}</h5>
                                        </div>
                                    </div>
                            </div>
                            {% set total = total + (product.product.price * product.quantity) %}
                        {% endfor %}
                        <div class="order__recap-price">
                            <h4 class="order__recap-title">Récapitulatif de ma facture</h4>
                            <div class="order__recap-priceSubtotal">
                                <div class="order__recap-subtotalLeft">
                                    <div class="order__recap-subtotalPriceTitle">
                                        <h6 class="order__recap-priceTitle">Sous-Total HT : </h6>
                                        <h6 class="order__recap-priceTitle">Sous-Total : </h6>
                                        <h6 class="order__recap-priceTitle">Livraison : </h6>
                                    </div>
                                </div>
                                <div class="order__recap-subtotalRight">
                                    <div class="order__recap-priceNumber">
                                        <h6 class="order__recap-priceNumber">{{ ((total / 100) - (((total / 100) / 120) * 20))| number_format(2, ' € ', '.') }}</h6>
                                        <h6 class="order__recap-priceNumber">{{ (total / 100) | number_format(2, ' € ', '.') }}</h6>
                                        <h6 class="order__recap-priceNumber">{{ (carrier.price / 100) | number_format(2, ' € ', '.') }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="order__recap-priceTotal">
                                <div class="order__recap-totalLeft">
                                    <div class="order__recap-totalPriceTitle">
                                        <h6 class="order__recap-totalPriceTitle">Total : </h6>
                                    </div>
                                </div>
                                <div class="order__recap-totalRight">
                                    <div class="order__recap-totalPriceNumber">
                                        <h6 class="order__recap-totalPriceTitle">{{ ((total / 100) + (carrier.price / 100))| number_format(2, ' € ', '.') }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order__recap-button">
                            <a href="" class="order__recap-buttonClick">Payer <i class="uil uil-credit-card"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
